{% load instructortag %}
{% load static %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<div class="h-full w-full flex md:flex-row">
    <aside class="w-1/4 h-full border-r border-gray-400 flex flex-col gap-2 p-5">
        <!-- course name -->
        <h2 class="font-bold text-secondary-0 text-xl">Course</h2>
        <p type="text" class="rounded-md border border-border" >{{ title }}</p>

        <!-- units -->
        <h2 class="font-bold text-secondary-0 text-xl mt-5">Module</h2>
        <div class="h-full overflow-y-auto  relative">

            <div id="accordion" class="h-[90%] p-2 overflow-y-auto">
                {% RetrieveCourseModule course_obj as modules %}
                
                {% comment %} display all module name {% endcomment %}
                {% for k,v in modules.items %}
                    <h3>{{ k|title }}</h3>
                    <div>
                        <ul class="flex flex-col gap-2 cursor-pointer">
                            {% ModuleLesson v as lessons %}
                            {% comment %} display all lesson in every module {% endcomment %}
                            {% for lesson in lessons %}
                                <li class="list-disc flex justify-between items-center rounded-sm hover:bg-secondary-0 hover:text-white hover:bg-opacity-50 p-2">
                                    <span>{{lesson}}</span>
                                    <i class="fa-regular fa-trash-can text-gray-300 hover:text-red-400"></i>
                                </li>
                            {% endfor %}
                        </ul>
                        <p class="text-primary text-xs font-bold text-center hover:bg-accent-g bg-opacity-20 py-2 cursor-pointer">
                            <i class="fa-solid fa-plus"></i>
                            Add Lesson
                        </p>
                    </div>
                {% endfor %}
            </div>
            <!-- add new module -->
            <div class="flex justify-center absolute bottom-0 w-full">
                <button type="submit" class="flex items-center gap-2 font-bold text-sm text-primary border border-border p-2 rounded-md
                hover:bg-primary hover:text-white" onclick="NewCourseModal('open')">
                    <i class="fa-solid fa-plus"></i>
                    Add Module
                </button>
                
            </div>
            
        </div>
    </aside>
</div>

<!-- add module modal -->
<div class="absolute top-0 left-0 h-full w-full bg-black bg-opacity-50 flex items-center justify-center modal hidden">
    <div class="w-2/5 h-max bg-white rounded-md p-5">
        <h2 class="text-2xl text-primary font-semibold text-center py-2 border-b border-gray-200">Add Module</h2>
        <form action="{% url 'courseapp:AddModule_url' course_id %}" class="p-2" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <label for="{{ module_form.title.id_for_label }}">Module Title</label>
            {{ module_form.title }}

            <label for="{{ module_form.description.id_for_label }}">Description</label>
            {{ module_form.description }}

            <label for="{{ module_form.cover_img.id_for_label }}">Module cover photo (optional)</label>
            {{ module_form.cover_img }}

            <div class="flex justify-end gap-2">
                <button type="button" class="text-gray-400 hover:bg-gray-300 rounded-md px-4 py-2" onclick="NewCourseModal('close')">Cancel</button>
                <button type="submit" class="bg-primary px-4 py-2 text-white font-semibold hover:bg-dark-green rounded-md">Add</button>
            </div>
        </form>
    </div>
</div>


<script src="{% static 'js/instructor.js' %}"></script>