<div class="h-full w-full flex md:flex-row">
    <aside class="w-1/4 h-full border-r border-gray-400 flex flex-col gap-2 p-5">
        <!-- course name -->
        <h2 class="font-bold text-secondary-0 text-xl">Course</h2>
        <p type="text" class="rounded-md border border-border focus:outline-none focus:border-primary focus:ring-1 focus:ring-primary" >Rar</p>

        <!-- units -->
        <h2 class="font-bold text-secondary-0 text-xl mt-5">Module</h2>
        <div class="h-full overflow-y-auto  relative">

            <div class="h-[90%] p-2 overflow-y-auto"></div>
            <!-- add new module -->
            <div class="flex justify-center absolute bottom-0 w-full">
                <button class="flex items-center gap-2 font-bold text-lg text-primary border border-border p-2 rounded-md
                        hover:bg-primary hover:text-white">
                    <i class="fa-solid fa-plus"></i>
                    Add Unit
                </button>
            </div>
            
        </div>
    </aside>
</div>