{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Job Portal" />
    <meta name="keywords" content="job" />
    {% comment %} Jquery {% endcomment %}
    <script src="{% static 'js/jquery.js' %}"></script>
    {% comment %} Tailwind CSS {% endcomment %}
    {% tailwind_css %}
    <title>
      {% block title %}
      {% endblock title %}
      | E-learning
    </title>

    {% tailwind_css %}

    {% comment %} Font {% endcomment %}

    {% block metaData %}
      {% comment %} OTHER META DATA HERE {% endcomment %}
    {% endblock metaData %}
  </head>
  <body class="h-screen">
    {% block content %}
    main
    {% endblock content %}
  </body>
</html>